// COLORS
$color-primary: #ff7f2afb;
$color-primary-light: #f18944;
$color-primary-dark: #f86502fb;

$color-secondary-light: #dde6ef;
$color-secondary-dark: #a9ccf0;



$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #111;
// $color-black-light: #111;




$default-font-size: 1.6rem;