* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Galano";

    src: 
    url("~assets/fonts/Galano.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Galano-bold";

    src: 
    url("~assets/fonts/Galano-Bold.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    
}

@font-face {
    font-family: "Miller-text";

    src: 
    url("~assets/fonts/Miller-Text.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    
}


   
   .page-enter-active, .page-leave-active {
    transition: all .25s ease-out;

   }
   .page-enter, .page-leave-active {
    opacity: 0;
    transform-origin: 50% 50%;
   }
   
  